br.mobile {
	@media only screen and (min-width: $width+40) {
		display: none;
	}
}

span.pull-right {
	color: $povio-dark-blue;
	
	@media only screen and (min-width: $width+40) {
		float: right;
		font-weight: bold;

		.total-amount {
			padding-left: 20px;
		}
    }

    @media only screen and (max-width: $width+40) {
    	.week-number {
    		font-weight: 200;
    	}

    	.total-amount {
			float: right;
		}
    }
}

table {
	&.work-section {
		tr {
			th {
				&.title {
					border-bottom: 1px solid $border;
					color: $povio-dark-blue;
					text-transform: uppercase;
				}
			}

			td {
				color: $povio-light-text;

				
				&.single {
					@media only screen and (max-width: $width+40) {
						display: block;

						&.amount {
							border-bottom: 1px dashed $border;
						}
					}
				}

				&.what {
					@media only screen and (min-width: $width+40) {width: 30%;}
					@media only screen and (max-width: $width+40) {font-weight: 600;}
				}

				&.who {
					@media only screen and (min-width: $width+40) {width: 20%;}
					font-style: italic;
				}

				&.when {
					@media only screen and (min-width: $width+40) {width: 12%;}

				}

				&.how-long {
					@media only screen and (min-width: $width+40) {width: 8%;}

					&.summ {
						font-weight: bold;
						color: $povio-dark-blue;
					}
				}

				&.rate {
					@media only screen and (min-width: $width+40) {width: 15%;}
					
					&.summ {
						font-weight: bold;
						color: $povio-dark-blue;
					}
				}

				&.amount {
					@media only screen and (min-width: $width+40) {width: 15%;}

					&.total {
						@media only screen and (min-width: $width+40) {
							border-top: 1px dashed $border;
						}
						color: $povio-dark-blue;
						font-weight: bold;
						padding-bottom: 20px;
					}

					&.summ {
						font-weight: bold;
						color: $povio-dark-blue;
					}
				}

				&.not-timable {
					opacity: .5;
				}
			}

			&:last-child {
				th {
					padding-top: 5px;
					font-weight: bold;
				}
			}

		}
		
		&.summary {
			tr {
				td {
					border-top: 1px solid $border;
				}
			}
		}
	}
}

.check {
	padding-top: 50px;
	color: $povio-dark-blue;

	.question {
		font-size: 18px;
		font-weight: 600;
	}
}