---
layout: default.hbs
subject: Rate Povio's work
---
<span class="preheader"></span>
<div class="header">
	<table>
		<tr>
			<td class="align-center">
				<a href="https://www.poviolabs.com"><img src="../src/img/povio-logo.png" height="50" alt="Mailgun"></a>
			</td>
		</tr>
	</table>
</div>
<table class="main">
	<tr>
		<td class="wrapper">
			<table>
				<tr>
					<td class="email-feedback">
						<h1>Two clicks to tell us what you think</h1>
						{{!-- <p>Hey [Client],<br>Here at Povio, your feelings and overall experience is very important for us. In order to understand what our customers want and need from Povio, please let me know your answer to this question:</p> --}}
						<p>Hey [Client],<br>Here at Povio, your feelings and overall experience is very important for us. In order to make sure, that you are 100% satisfied with our work, please let me know your answer to this question:</p>
						<p style="margin-bottom:5px;"><strong>How was your overall project experience?</strong><br>
						<span class="describe">(1 not so good and 10 amazing)</span></p>
						<ul class="clearfix">
							<li><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
							<li><a href="">6</a></li>
							<li><a href="">7</a></li>
							<li><a href="">8</a></li>
							<li><a href="">9</a></li>
							<li><a href="">10</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="email-feedback small">
						<div style="float:left;">Not so good</div>
						<div style="float:right;">Amazing</div>
					</td>
				</tr>
				<tr>
					<td class="email-feedback signature">
						<p>Sincerely,<br>Jakob from Povio Labs</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{{!-- <div class="footer">
	<table>
		<tr>
			<td class="align-center">
				<p>Something not right?<br>Let us know! Reply to this email ASAP!</p>
			</td>
		</tr>
	</table>
</div>
 --}}